.header{
	background-color:aliceblue;
}

.banner{
	background-color:blanchedalmond;
}

.first {
	background-color:aliceblue;
}

.second {
	background-color:blanchedalmond;

}

.third {
	background-color:aliceblue;

}